@model Area.Data.ProductSubCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class="icon-user"></i>
            <h3>Alt Kategori Oluştur</h3>
        </div>
        <div class="widget-content">
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="formcontrols">
                        @using (Html.BeginForm("Create", "ProductSubCategories", FormMethod.Post, new { @id = "edit-profile", @class = "form-horizontal" }))
                        {
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="quantity">Kategorisi</label>
                                    <div class="controls">
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="quantity">Adı</label>
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="note">Durumu</label>
                                    <div class="controls">
                                        @Html.EditorFor(model => model.IsActive)
                                    </div>
                                </div>
                                @Html.ActionLink("Listeye Geri Dön", "Index", new { htmlAttributes = new { @class = "form-control" } })
                                <button type="submit" class="btn btn-primary pull-right two">Ekle</button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
